<div class="card">
  <h5>Categories</h5>
  <ul>
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li><a href="/categories/{{ $name | urlize }}/">{{ $name }} ({{ len $taxonomy }})</a></li>
    {{ end }}
  </ul>
</div>

<div class="card">
  <h5>Tags</h5>
  <div class="tag-cloud">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a class="tag" href="/tags/{{ $name | urlize }}/">{{ $name }}</a>
    {{ end }}
  </div>
</div>

<div class="card">
  <h5>Recent</h5>
  <ul>
    {{ range first 6 .Site.RegularPages.ByDate.Reverse }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
